body{
  background-color: rgb(204, 204, 204);
}

h1{
  font-family: sans-serif;
  text-align: center;
}

header{
  background-color: rgb(158, 158, 158);
  padding-left: 3vw; padding-right: 3vw; border: 4px;
  border-color: rgb(39,39,39); border-style: ridge;
  border-radius: 8px;
}

header nav ul{
  padding-right: 7vw;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

header a{
  text-decoration: none; font-weight: bold;
  color: black;
}