body{
  background-color: rgb(204, 204, 204);
}

h1{
  font-family: sans-serif;
  text-align: center;
}

header{
  background-color: rgb(158, 158, 158);
  padding: 3vw; margin: 2vh; border: 4px;
  border-color: rgb(39,39,39); border-style: ridge;
  border-radius: 8px;
}

header nav ul{
  font-family: sans-serif;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

header a{
  text-decoration: none; font-weight: bold;
  color: black;
}

@media screen and (max-width: 650px){
  header{
    margin: 0;
    margin-top: 1vh;
    width: 25vw;
    position: absolute;
  }
  header nav{
    display: inline-block;
  }
  header nav ul{
    display: inline;
  }
  header nav ul li{
    padding-top: 1vh;
    border-bottom: 2px solid;
    padding-bottom: 2vh;
  }
  header nav ul li:last-child{
    border: 0;
  }
}