
/*Media query for vertical nav header on smaller screens*/
@media screen and (max-width: 700px){
  header{
    margin-top: 1vh;
    width: 25vw;
    position: absolute;
  }
  header nav{
    display: inline-block;
  }
  header nav ul{
    display: inline;
  }
  header nav ul li {
    padding-top: 2vh;
    border-bottom: 2px solid;
    padding-bottom: 2vh;
  }
  header nav ul li:last-child{
    border: 0;
    padding-bottom: 1vh;
  }
  header nav ul li:first-child{
    padding-top: 0;
  }
}

/*Adjust font and nav size for very small screens*/
@media screen and (max-width: 450px) {
  header{
    font-size: 10pt;
  }
  header nav ul li {
    width: 90%;
  }
  
}