section{
  display: flex;
  flex-direction: column;
  margin: 2vw;
}

h2{
  font-family: sans-serif;
  font-weight: bold;
}

p{
  font-size: 18pt;
  font: serif;
}


/*Media query to make text sections align to the right of the screen on half screens*/
@media screen and (max-width: 1300px){
  section{
    margin-left: 45vw;
  }
}

/*Media query to make text sections sit below the header and image bar and span the whole screen on mobile*/
@media screen and (max-width: 700px){
  section{
    display: inline-block;
    position: absolute;
    margin-left: 2vw;
    top: 900px;

  }
}

@media screen and (max-width: 550px){
  section{
    top: 750px;

  }
}